<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/svarc/IdeaProjects/Task_Test_Svarchevskyi">
        <classes>
            <class name="test.MainTest"></class>
        </classes>
    </test>
</suite>